// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    background-image: url("/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 180%;
    background-position-x: 42%;
    background-position-y: 60%;
}

p {
    font-family: 'Righteous', cursive !important;
    color: #fff;
}

a {
    text-decoration:none !important;
    font-family: 'Righteous', cursive !important;
    color: #fff;
}

.dinoLogo {
    width: 87% !important;
}

.title {
    font-family: 'Righteous', cursive !important;
    margin-left: 1.5em !important;
    color: #fff;
}
.title2 {
    font-family: 'Righteous', cursive !important;
    margin-top: 1.5em !important;
    color: #fff;
}

.socialMedia {
    font-size: 2em !important;
    margin-left: 2em !important;
    margin-top: 0.2em !important;
}

.search {
    // margin-top: -5em !important;
}
.pesquisa {
    text-align: center !important;
}
.pesquisar {
    width: 20em !important;
}

.infos {
    margin-bottom: -7em !important;
    font-family: 'Righteous', cursive !important;
}

.credit {
    font-size: 1.4em !important;
    margin-top: -0.1em !important;
}

ion-row {
    text-align: center !important;
}

ion-label {
    font-family: 'Righteous', cursive !important;
    color: #fff;
    font-size: 2.5em !important;
}

ion-input {
    font-family: 'Righteous', cursive !important;
    color: #fff !important;
    font-size: 1.5em !important;
    border-radius: 1em !important;
    box-shadow: 0px 0px 2em #fff !important;
    margin-bottom: 0.5em !important;
    margin-top: 0.5em !important;
}

ion-slides {
    width: 100% !important;
    height: 100% !important;
}

ion-card-content {
    text-align: justify !important;
    color: #fff;
    height: 110% !important;
}

ion-card-title {
    color: #fff;
    margin-bottom: 0.2em !important;
}